.TodoListCard {
  display: flex;
  flex-wrap: wrap;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0.6rem 2rem 0 rgba(152, 152, 152, 0.5);
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

.TodoListItem {
  display: flex;
  align-items: baseline;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

.Completed {
  text-decoration: line-through;
}

.Profile {
  display: flex;
  align-items: center;
  padding-top: 1.6rem;
  padding-left: 1rem;
  padding-bottom: 2rem;
}

.PaddingLeft {
  padding-left: 0.5rem;
}

.ProfileList {
  padding: 1rem;
}

.TodoListHeader {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 1rem;
  background: violet;
  min-height: 10rem;
}

.BorderNone {
  border: none;
}

.App {
  text-align: center;
}